/*Bilder*/

img[src*="csm_Katze_0fca7cc305"]{
  border-radius: 20px ;
}
img[src*="csm_Katze03_961473b4d0"]{
  border-radius: 20px ;
}

img[src*="csm_Katze03_e7e750b4bb"]{
  border-radius: 20px ;
}

img[src*="csm_Hund_8203c45cc9"]{
  border-radius: 20px ;
}
img[src*="csm_ChatGPT_Image_3._Dez._2025__18_54_05_86c74e259c"]{
  width: 100%;
  max-width: 350px;
  height: auto;
}



/*Logo*/
.navbar-brand img {
  height: 100px !important;
  width: auto !important;
  max-height: none !important;
}


/* Nav. vergrößern */
.navbar-brand {
  display: flex;
  align-items: center;
  height: 100px !important;
}



/* Social Media Icons */
.header-icons a img,
.header-icons a svg {
  width: 28px;
  height: 28px;
  object-fit: contain;
  display: block;
}

.header-icons img[src*="LoginIcon"] {
  width: 40px;
  height: auto;
}

.header-icons img[src*="Instagram"] {
  width: 32px;
  height: auto;
}



/* News-Bilder */
.news-single .thumbnail img {
  border-radius: 20px;
}

.news-list-view .card-img-top {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}





