/*Bilder*/

img[src*="csm_Katze_0fca7cc305"]{
  border-radius: 20px ;
}
img[src*="csm_Katze03_961473b4d0"]{
  border-radius: 20px ;
}

img[src*="csm_Katze03_e7e750b4bb"]{
  border-radius: 20px ;
}

img[src*="csm_Hund_8203c45cc9"]{
  border-radius: 20px ;
}





