/* Äußere Box der Notfallkachel */
.frame-type-container_3_columns .frame-type-text {
  background: #c9ead3 !important;
  border-radius: 25px !important;
  padding: 80px 40px !important;      /* oben/unten 80px | links/rechts 40px */
  box-shadow: 0 6px 14px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Titel */
.frame-type-container_3_columns .frame-type-text h2,
.frame-type-container_3_columns .frame-type-text h3 {
  font-size: 26px;
  margin-bottom: 30px;
  padding: 0 !important;
  text-align: center;
}

/* Button */
.frame-type-container_3_columns .frame-type-text a {
  display: inline-block;
  background: #ff7a59;
  color: #fff !important;
  padding: 12px 35px;
  border-radius: 999px;
  font-size: 18px;
  font-weight: normal !important; /* nicht fett */
  text-decoration: none;
  margin-top: 20px;
}

.frame-type-container_3_columns .frame-type-text a:hover {
  background: #ff6440;
}
