/* Kontaktseite:*/
.contentcontainer[data-container-identifier="container_2_columns"] {
  display: flex;
  gap: 2rem;
}

/* Spalten */
.contentcontainer-column {
  flex: 1;
}

/* Mobile Kontakt  */
@media (max-width: 600px) {
  .contentcontainer[data-container-identifier="container_2_columns"] {
    flex-direction: column;
  }
}
/* rechte Spalte */
.contentcontainer-column[data-container-column="right"] {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

/* Google Maps */
.contentcontainer-column[data-container-column="right"] iframe {
  width: 100%;
  height: 100%;
  min-height: 350px;
  border: 0;
  display: block;
}

/* Carousel-Rahmen */
.carousel,
.carousel-inner,
.frame-type-carousel,
.ce-carousel {
  border-radius: 25px;
  overflow: hidden;
}

/*  Slides */
.carousel-item {
  border-radius: inherit;
}

/* Bild-Hintergrund */
.carousel-backgroundimage-container {
  border-radius: inherit;
}
