#page-footer .footer-section-content {
  background-color: #c9ead3;
}
#page-footer .section-row {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

/* Spaltenverhalten */
#page-footer .section-column {
  flex: 1;
  min-width: 0;
  padding: 0 !important;
  margin: 0;
}

/* Logo-Spalte schmäler */
#page-footer .footer-section-content-column-left {
  flex: 0 0 140px;
  max-width: 140px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Logo weiter nach unten */
#page-footer .footer-section-content-column-left img {
  margin-top: 60px;
  max-width: 120px;
  height: auto;
}

/* Öffnungszeiten */
#page-footer .footer-section-content-column-middle table {
  font-size: 13px;
  table-layout: auto;
}

#page-footer .footer-section-content-column-middle td {
  padding: 3px 6px;
  line-height: 1.4;

  color: #000;
}

/* Kontakt und Anfahrt */
#page-footer .footer-section-content-column-right {
  flex: 1.3;
  word-break: break-word;
}

/* rundung - Kontakt*/
#page-footer .section-column,
#page-footer .contentcontainer-column,
#page-footer .frame,
#page-footer .frame-inner,
#page-footer .frame-header {
  border-radius: 0 !important;
}

/* AGB und Impressum */
.footer-section.footer-section-meta {
  background-color: #c9ead3;
  padding: 20px 0;
}

.footer-section-meta .footer-legal {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  gap: 24px;
}



/* Tablet */
@media (max-width: 900px) {
  #page-footer .section-row {
    flex-wrap: wrap;
    gap: 24px;
  }
  #page-footer .footer-section-content-column-left {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: flex-start;
  }
  #page-footer .footer-section-content-column-middle,
  #page-footer .footer-section-content-column-right {
    flex: 1;
  }
  #page-footer .footer-section-content-column-right .frame-type-container_2_columns
  .row {
    grid-template-columns: 1fr;
  }
}

/* Moblie */
@media (max-width: 600px) {
  #page-footer .section-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
  }

  #page-footer .footer-section-content-column-left,
  #page-footer .footer-section-content-column-middle,
  #page-footer .footer-section-content-column-right {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  #page-footer .footer-section-content-column-left {
    justify-content: center;
  }
  #page-footer .footer-section-content-column-left img {
    margin-top: 20px;
  }
  #page-footer .footer-section-content-column-middle table {
    margin: 0 auto;
  }
  #page-footer a {
    display: inline-block;
  }
}
