/*Header*/
#page-header{
  background-color: #c9ead3 !important;
  font-size: large;

}
.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto; /* rechts ausrichten */
}

.header-icons img {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  transition: transform 0.2s ease;
}

.header-icons img:hover {
  transform: scale(1.1);
}

.container-mainnavigation{
  color: #333333;
}
