/*Header*/
#page-header{
  background-color: #c9ead3 !important;
  font-size: large;

}
.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto; /* rechts ausrichten */
}

.header-icons img {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  transition: transform 0.2s ease;
}

.header-icons img:hover {
  transform: scale(1.1);
}

.container-mainnavigation{
  color: #333333;
}

//Sprache
.language-menu {
  list-style: none;
  margin: 0;
  margin-left: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1;
}

.language-menu li {
  display: flex;
  align-items: center;
}

/* Trennstrich */
.language-menu li:not(:last-child)::after {
  content: "|";
  margin: 0 8px;
  color: #000;
  opacity: 0.6;
}

/* Links */
.language-menu a {
  color: #ff5a3c;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
}

/* Hover */
.language-menu a:hover {
  text-decoration: underline;
}

/* aktive Sprache */
.language-menu li.active a {
  font-weight: 700;
  text-decoration: underline;
  cursor: default;
  pointer-events: none;
}
