.team-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-color: #C9EAD3;

}

.team-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 60px 40px;
  border-radius: 20px;
}

.team-item-image {
  display: flex;
  justify-content: center;
}

/* Bild links */
.team-left .team-item-image {
  order: 1;
}
.team-left .team-item-content {
  order: 2;
  padding-left: 20px;
}

/* Bild rechts */
.team-right .team-item-image {
  order: 2;
}
.team-right .team-item-content {
  order: 1;
  padding-right: 20px;
}

.team-item-image img {
  width: 100%;
  max-width: 420px;
  height: auto;
  border-radius: 20px;
}

.team-item-name {
  font-size: 32px;
  margin-bottom: 10px;
  color: #0f7a75;
}

.team-item-role {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.team-item-description {
  line-height: 1.6;
  color: #333;

}


img[src*="csm_Team1_520937ed15"]{
  border-radius: 20px ;
}



.team-toggle-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #0F7A75;
  background: transparent;
  color: #0F7A75;
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  transition: 0.3s ease;
  padding: 0;
}

.team-toggle-btn:hover {
  background: #0F7A75;
  color: white;
}

.team-toggle-btn.active {
  background: #0F7A75;
  color: white;
  border-color: #0F7A75;
}


//Mobile
@media (max-width: 600px) {

  .team-list {
    gap: 50px;
    padding: 30px 15px;
  }
  .team-item {
    grid-template-columns: 1fr;
    padding: 30px 20px;
  }
  .team-left .team-item-image,
  .team-right .team-item-image {
    order: 1;
  }
  .team-left .team-item-content,
  .team-right .team-item-content {
    order: 2;
    padding: 0;
    text-align: center;
  }
  .team-item-image img {
    max-width: 100%;
  }
  .team-item-name {
    font-size: 26px;
  }
  .team-item-role {
    font-size: 18px;
  }
  .team-toggle-btn {
    margin: 20px auto 0;
  }

}


