//
// Variables
//
@import "variables";
@import "team";
@import "buttons";
@import "card";
@import "tabelle";
@import "columns";
@import "footer";
@import "header";
@import "kalender";
@import "bilder";
@import "contact";
@import "login";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";

body{
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background-color: #F5F6F7;
  color: #333333;

}
h1{
  color: #0f7a75;
  font-weight: 700 ;
  font-family: 'Merriweather', serif;

}

h2{
  color: #333333;
  font-family: 'Merriweather', serif;

}

h3{
  color: #333333;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

h4{
  font-size: 20px;
  margin-bottom: 12px;
  color: #0F7A75;
}


