//
// Variables
//
@import "variables";
@import "team";
@import "buttons";
@import "card";
@import "tabelle";
@import "columns";
@import "footer";
@import "header";
@import "kalender";
@import "bilder";



//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";





body{
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background-color: #F5F6F7;
  color: #333333;

}
h1{
  color: #0f7a75;
  font-weight: 700 ;
  font-family: 'Merriweather', serif;

}

h2{
  color: #333333;
  font-family: 'Merriweather', serif;

}

h3{
  color: #333333;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}


//Kontakt
/* Container: 2 Spalten */
.contentcontainer[data-container-identifier="container_2_columns"] {
  display: flex;
  gap: 2rem;
}

/* Spalten */
.contentcontainer-column {
  flex: 1;
}

/* Mobile: untereinander */
@media (max-width: 768px) {
  .contentcontainer[data-container-identifier="container_2_columns"] {
    flex-direction: column;
  }
}
/* Wrapper für rechte Spalte */
.contentcontainer-column[data-container-column="right"] {
  position: relative;
  border-radius: 25px;
  overflow: hidden;          /* <<< entscheidend */
}

/* Google Maps iframe */
.contentcontainer-column[data-container-column="right"] iframe {
  width: 100%;
  height: 100%;
  min-height: 350px;
  border: 0;
  display: block;
}

/* ÄUSSERSTER Carousel-Rahmen */
.carousel,
.carousel-inner,
.frame-type-carousel,
.ce-carousel {
  border-radius: 25px;
  overflow: hidden; /* DAS ist der Schlüssel */
}

/* Sicherheit: Slides */
.carousel-item {
  border-radius: inherit;
}

/* Bild-Hintergrund */
.carousel-backgroundimage-container {
  border-radius: inherit;
}








